html {
  font-size : 1.2rem;
}
body {
  font-family : "Open Sans", 'Poller One';
  background-color : #FFFFFF;
  margin : 0;
}
a:link, a:visited {
  text-decoration : none;
}
a:hover {
  color : #9D9D9D;
}
.navbar {
  top : 0;
  z-index : 10;
  box-shadow : 0 20px 64px -21px rgb(0, 0, 0, 0.25);
}
.navbar-content {
  display : flex;
  flex-direction : row;
  flex-wrap : nowrap;
  padding : 1rem 1rem 1rem 1rem;
  width : min(1183px, 100%);
  margin : auto;
}
.navbar-grid {
  align-items : center;
  columns : 4;
  width : 500px;
  margin : auto;
  padding : 10px;
}
.icons {
  padding-right : 15px;
  width : 20px;
  margin: auto;
}

.icons-grid{
  display: flex;
  flex-direction: row;

}

.navbar-grid {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  font-size : 12px;
  color : #281528;
}
.main-body {
  margin : auto;
  width : min(1183px, 100%);
}
.grid-container {
  width : min(1183px, 100%);
  display : grid;
  text-align : center;
  top : 200px;
}
.pillow-image {
  width : 280px;
}
.pillows-container {
  width : min(1200, 100%);
  column-count : 4;
  text-align : center;
  padding-top : 200px;
}
.end_banner {
  margin-top : 200px;
  height : 270px;
  background : #29182A;
}
.pillows {
  width : 1200px;
  margin : auto;
  padding : 10px;
}
.end-banner {
background-color : #29182A;
  height : 400px;
  margin-top : 200px;
}
.searchbar input[type="text"] {
  font-size : 18px;
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  line-height : 11px;
}
.searchbar button[type="submit"] {
  font-size : 18px;
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  color : #FFFFFF;
  background-color : #452946;
}
.banner-contents-column {
  padding-top : 60px;
  margin : auto;
  width : 1200px;
  align-self : center;
}
.banner-contents-column:after {
  content : "";
  display : table;
  clear : both;
}
.column {
  float : left;
  width : 35%;
}
.body-white {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  font-size : 15px;
  color : #FFFFFF;
  padding-bottom : 20px;
}
.detail-container {
  display : flex;
  flex-direction : row;
  margin-top : 20px;
}
.images-container {
  display : flex;
  flex-direction : column;
  width : 680px;
  margin-right : 120px;
}
.image-small-pre {
  display : flex;
  flex-direction : row;
  width : 680px;
}
.preview {
  height : 120px;
  padding-right : 20px;
  padding-top : 30px;
}
.description {
  display : flex;
  flex-direction : column;
}
.des-subheading {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : 300;
  font-size : 18px;
}
.des-color-assortment {
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  gap : 26px;
}
.des-color-item {
  display : flex;
  align-items : stretch;
  flex-direction : column;
  width : 72px;
}
.des-color-item button {
  align-items : center;
  margin : auto;
  width : 24px;
  height : 24px;
  border : #E6E6E6 solid 3px;
  box-sizing : border-box;
  border-radius : 30px;
  margin : 24px;
  margin-bottom : 10px;
  cursor:pointer;

}
.des-color-item button:hover{
  border: #3F3F3F solid 3px;
}


.des-material-assortment {
  display : flex;
  align-items : center;
  flex-direction : row;
  gap : 26px;
}
.img-preview {
  margin : auto;
  height : 50px;
  width : 50px;
  outline-offset: -3px;
}

.img-preview:hover{
  outline: #3F3F3F solid 3px;
}


.body-text {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  font-size : 14px;
  line-height : 18px;
  padding : 10px;
  text-align : center;
  color : #281528;
}


.color-select{

}

#color-1 {
  background : #A2576A;
}
#color-2 {
  background : #49868C;
}
#color-3 {
  background : #D0B294;
}
#color-4 {
  background : #C3BFAB;
}
h4 {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  font-size : 10px;
  align-items : flex-end;
  text-align : center;
  color : #919191;
}
#logo {
  font-family : 'Poller One';
  font-style : normal;
  font-weight : normal;
  font-size : 24px;
  line-height : 29px;
  color : #452946;
}
#logo-white {
  font-family : 'Poller One';
  font-style : normal;
  font-weight : normal;
  font-size : 24px;
  line-height : 29px;
  color : #FFFFFF;
  left : 130px;
  top : 42px;
}
#main-headline {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : 800;
  font-size : 56px;
  line-height : 76px;
  letter-spacing : 0.05em;
  padding : 20px;
  margin-top : 100px;
  color : #452946;
}
#icon_white {
  padding-top : 30px;
  padding-bottom : 20px;
}

#shop-now-button {
  background-color : #4CAF50;
  border : none;
  color : white;
  margin: auto;
  padding : 15px 32px;
  text-align : center;
  text-decoration : none;
  font-size : 16px;
  margin-top : 30px;
  margin-bottom : 100px;
  border-radius : 16px;
  height : 30px;
  width : 160px;
}
#main-img {
  width : 1183px;
  margin-bottom : 120px;
}
#mid-span {
  background-color : #452946;
  width : 100vw;
  position : relative;
  margin-left : -50vw;
  height : 130px;
  margin-top : 100px;
  left : 50%;
}
#span-big-text {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : 800;
  font-size : 36px;
  line-height : 49px;
  letter-spacing : 0.05em;
  color : #FFFFFF;
  margin-bottom : 10px;
  padding-top : 20px;
}
#span-small-text {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  font-size : 12px;
  line-height : 18px;
  color : #FFFFFF;
  margin-bottom : 20px;
}
#title {
  font-size : 20px;
  padding-bottom : 10px;
}
#image-main {
  width : 680px;
}
#back {
  background-color : white;
  border : none;
  margin-top : 30px;
  color : black;
  text-align : center;
  text-decoration : none;
  display : inline-block;
  font-size : 16px;
  border-radius : 16px;
  height : 24px;
  width : 80px;
  border : #E5E5E5 solid 1px;
}
#des-title {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : 800;
  font-size : 24px;
  margin : 0;
  color : #375254;
}
#des-text li {
  font-family : "Open Sans";
  font-style : normal;
  font-weight : normal;
  font-size : 10px;
  line-height : 16px;
}
#des-text {
  padding : 20px;
}
#add-to-cart {
  background-color : white;
  border : none;
  margin-top : 30px;
  color : black;
  text-align : center;
  text-decoration : none;
  display : inline-block;
  font-size : 25px;
  border-radius : 50px;
  height : 40px;
  width : 180px;
  border : #E5E5E5 solid 3px;
  cursor:pointer;
}

#num-in-cart{
  margin-right: 20px;
}
